*.log
#*.zip
*.rar
*.7z
boards/atmega644_ctlstyle_v1.h
.settings/language.settings.xml
*.prefs
.settings/*.*
*.log
*.obj
*.pch
*.tlog
*.cnt
*.bsc
*.exe
*.tmp
*.res
*.plg
*.clw
*.opt
/TgApp/
/TgBoot/
/TgLib/
/TgWin32/
/Release
/Debug
